body {
    margin: 0px;
    padding: 0px;
}

.Menu-Icon {
    width: 50px;
    cursor: pointer;
}

.bottons{
    width: 20px;
}
.txt-footer{
    color: rgb(59, 255, 219);
    font-family: 'Times New Roman', Times, serif;
}
.t-hover:hover{
    color: rgb(59, 255, 219);
}

